<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
</head>
<body>
    <h2>Join room</h2>
    <form action="">
        <input type="text" placeholder="enter room number">
        <input type="submit">
    </form>
    <hr>

    <h2>Create room</h2>
    <form action="{{ url_for('create_room') }}">
        <input type="submit" value="Create room">
    </form>
</body>
</html>